	@media only screen and (min-width: 37.5em) {
	/* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
	header img {
		width: 25%;
	}
	nav button {
		display: none;
	}
	/* hamburger button does not need to be shown */
	.myTopNav.responsive {
		display: block;
	}
	.topNav ul {
		display: block;
	}
	nav {
		width: 100%;
		margin: 0 0 0 0;
		padding: 0;
	}
	nav ul {
		list-style-type: none;
		padding: 0;
		margin: 0 0 0 0;
	}
	nav ul li {
		float: left;
		width: 16.66%;
		text-align: center;
		margin: 0 0 0 0;
	}
	#banner img {
		width: 100%;
	}
	footer {
		display: flex;
		justify-content: space-between;
		padding: .5em;
	}
	footer img {
		display: inline;
		width: 45px;
	}
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.grid div img:hover {
		box-shadow: none;
		color: none;
	}
	.grid div img:active {
		color: none;
	}
