*{
	font-family: 'Ubuntu', sans-serif;
}

table {
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	letter-spacing: 1px;
	font-size: 0.8rem;
}

thead {
	background-color: #7fb9c2;
	color: black;
}

tr th {
	background-color:  #628ca6;
	color: white;
}

tbody {
	background-color: #e7ffed;
}

tfoot {
	background-color: #7fb9c2;
}

th {
	border: 1px solid rgb(190, 190, 190);
	padding: 10px 20px;
}

td {
	text-align: center;
	border: 1px solid rgb(190, 190, 190);
	padding: 10px 20px;
}
