.style1 {
            margin: 0 auto;
            border: 1px solid #bbb;
            padding: 5px;
            background-color: #eee;
            line-height: 1.5em;
        }
.right {
margin: 10px;
}

.marquee {

    white-space: nowrap;
    width:100%;
    overflow: hidden;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {transform: translate(0,0);}
    100% {transform: translate(-100%,0);}
}
